# Project 1 <br>**Health Sleep Analysis** 
---
**By:** <br> Rianna Latanya McDuffus <br>
    Sijan Shrestha <br>
    Naâ€™jae Khali Batta <br>
    Alana J Manuel <br>

### Importing pandas and numpy

In [2]:
import pandas as pd
import numpy as np

### Converting csv to dataframe
### Displaying 5 first rows of the dataframe

In [3]:
df = pd.read_csv("Health_Sleep_Statistics.csv")

# Alana's Part

In [4]:
df.head(5)

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,1,25,f,8,23:00,06:30,8000,2500,medium,healthy,no,no
1,2,34,m,7,00:30,07:00,5000,2200,low,unhealthy,yes,yes
2,3,29,f,9,22:45,06:45,9000,2700,high,healthy,no,no
3,4,41,m,5,01:00,06:30,4000,2100,low,unhealthy,yes,no
4,5,22,f,8,23:30,07:00,10000,2800,high,medium,no,no

In [5]:
#creating the array for age and the array Calories burned
#I want to see the median, mean, and stardard deviation for "Age" and "Calories Burned". I can not find the median or mean for non-numerical values unless I convert them into integer or float.
A=np.array(df["Age"])
B=np.array(df["Calories Burned"])

In [6]:
A

array([25, 34, 29, 41, 22, 37, 30, 45, 27, 32, 50, 23, 36, 48, 28, 31, 26,
       39, 33, 42, 29, 35, 40, 47, 32, 44, 27, 38, 31, 49, 24, 45, 37, 46,
       28, 40, 35, 50, 26, 41, 30, 44, 34, 48, 33, 47, 28, 39, 32, 46, 23,
       38, 27, 44, 29, 36, 30, 45, 25, 50, 28, 47, 26, 39, 31, 43, 24, 38,
       28, 48, 32, 41, 29, 50, 26, 44, 30, 47, 25, 49, 31, 42, 27, 45, 34,
       50, 28, 39, 30, 47, 23, 36, 29, 50, 27, 43, 33, 46, 25, 41])

In [7]:
B

array([2500, 2200, 2700, 2100, 2800, 2300, 2600, 2000, 2750, 2400, 2100,
       2900, 2400, 2000, 2700, 2300, 2500, 2100, 2800, 2400, 2600, 2100,
       2750, 2300, 2600, 2000, 2800, 2400, 2500, 2100, 2900, 2200, 2600,
       2000, 2750, 2300, 2500, 2100, 2900, 2200, 2600, 2000, 2750, 2300,
       2500, 2100, 2900, 2200, 2600, 2000, 2700, 2200, 2600, 2100, 2750,
       2400, 2600, 2000, 2700, 2200, 2600, 2100, 2750, 2400, 2600, 2000,
       2700, 2200, 2600, 2100, 2750, 2400, 2600, 2000, 2700, 2200, 2600,
       2100, 2750, 2400, 2600, 2000, 2700, 2200, 2600, 2100, 2750, 2400,
       2600, 2000, 2700, 2200, 2600, 2100, 2750, 2400, 2600, 2000, 2700,
       2200])

In [8]:
#finding the median of Age and the Calories Burned 
#\n creates a new line before whatever I am asking of the command
print("The median  is:", np.median(A))
print("\nThe median calories burned is:", np.median(B))

The median  is: 35.0

The median calories burned is: 2400.0

In [9]:
#finding the mean(average) of Age and the Calories Burned 
#again the \n creates a new line before whatever I am asking of the command
print("The mean age is:", np.mean(A))

print("\nThe mean calories burned is:", np.mean(B))

The mean age is: 36.01

The mean calories burned is: 2421.0

In [10]:
#finding the standard deviation of Age and the Calories Burned to see the furthest from the mean
#again the \n creates a new line before whatever I am asking of the command
print("The standard deviation in age is:", np.std(A))

print("\nThe standard deviation of calories burned is:", np.std(B))

The standard deviation in age is: 8.412484769674178

The standard deviation of calories burned is: 279.6587205863604

In [11]:
#showing mathematical operations by using the arrays
print("Elementwise Multiplication Example:", A*B)
print("\nSubrtaction Example:", A-B)
print("\nAddition Example:", A+B)

Elementwise Multiplication Example: [ 62500  74800  78300  86100  61600  85100  78000  90000  74250  76800
 105000  66700  86400  96000  75600  71300  65000  81900  92400 100800
  75400  73500 110000 108100  83200  88000  75600  91200  77500 102900
  69600  99000  96200  92000  77000  92000  87500 105000  75400  90200
  78000  88000  93500 110400  82500  98700  81200  85800  83200  92000
  62100  83600  70200  92400  79750  86400  78000  90000  67500 110000
  72800  98700  71500  93600  80600  86000  64800  83600  72800 100800
  88000  98400  75400 100000  70200  96800  78000  98700  68750 117600
  80600  84000  72900  99000  88400 105000  77000  93600  78000  94000
  62100  79200  75400 105000  74250 103200  85800  92000  67500  90200]

Subrtaction Example: [-2475 -2166 -2671 -2059 -2778 -2263 -2570 -1955 -2723 -2368 -2050 -2877
 -2364 -1952 -2672 -2269 -2474 -2061 -2767 -2358 -2571 -2065 -2710 -2253
 -2568 -1956 -2773 -2362 -2469 -2051 -2876 -2155 -2563 -1954 -2722 -2260
 -2465 -2050 -2874 -2159 -2570 -1956 -2716 -2252 -2467 -2053 -2872 -2161
 -2568 -1954 -2677 -2162 -2573 -2056 -2721 -2364 -2570 -1955 -2675 -2150
 -2572 -2053 -2724 -2361 -2569 -1957 -2676 -2162 -2572 -2052 -2718 -2359
 -2571 -1950 -2674 -2156 -2570 -2053 -2725 -2351 -2569 -1958 -2673 -2155
 -2566 -2050 -2722 -2361 -2570 -1953 -2677 -2164 -2571 -2050 -2723 -2357
 -2567 -1954 -2675 -2159]

Addition Example: [2525 2234 2729 2141 2822 2337 2630 2045 2777 2432 2150 2923 2436 2048
 2728 2331 2526 2139 2833 2442 2629 2135 2790 2347 2632 2044 2827 2438
 2531 2149 2924 2245 2637 2046 2778 2340 2535 2150 2926 2241 2630 2044
 2784 2348 2533 2147 2928 2239 2632 2046 2723 2238 2627 2144 2779 2436
 2630 2045 2725 2250 2628 2147 2776 2439 2631 2043 2724 2238 2628 2148
 2782 2441 2629 2050 2726 2244 2630 2147 2775 2449 2631 2042 2727 2245
 2634 2150 2778 2439 2630 2047 2723 2236 2629 2150 2777 2443 2633 2046
 2725 2241]

In [12]:
#the arrays for Bedtime and Wake-up Time. We hope to subtract the Wake-up Time from the Bedtime
A=np.array(df["Bedtime"])
B=np.array(df["Wake-up Time"])
print(A)
print(B)

['23:00' '00:30' '22:45' '01:00' '23:30' '00:15' '22:30' '01:30' '23:00'
 '00:45' '01:00' '22:00' '23:30' '01:30' '22:15' '00:30' '23:45' '01:15'
 '22:30' '00:45' '23:15' '01:00' '22:45' '00:15' '23:00' '01:30' '22:30'
 '00:45' '23:30' '01:15' '22:00' '00:30' '23:15' '01:00' '22:45' '00:15'
 '23:30' '01:30' '22:00' '00:45' '23:15' '01:00' '22:45' '00:15' '23:30'
 '01:30' '22:00' '00:30' '23:15' '01:00' '22:15' '00:30' '23:00' '01:15'
 '22:30' '00:45' '23:15' '01:30' '22:15' '00:30' '23:00' '01:15' '22:30'
 '00:45' '23:15' '01:30' '22:15' '00:30' '23:00' '01:15' '22:30' '00:45'
 '23:15' '01:30' '22:15' '00:30' '23:00' '01:15' '22:30' '00:45' '23:15'
 '01:30' '22:15' '00:30' '23:00' '01:15' '22:30' '00:45' '23:15' '01:30'
 '22:15' '00:30' '23:00' '01:15' '22:30' '00:45' '23:15' '01:30' '22:15'
 '00:30']
['06:30' '07:00' '06:45' '06:30' '07:00' '07:15' '06:00' '07:00' '07:30'
 '07:15' '07:00' '06:00' '07:30' '06:00' '06:45' '07:30' '06:15' '07:00'
 '07:00' '07:30' '06:30' '06:30' '06:15' '07:00' '06:30' '07:00' '06:45'
 '07:15' '07:00' '07:30' '06:00' '07:30' '06:15' '06:30' '07:00' '07:15'
 '07:00' '06:00' '06:00' '07:30' '06:15' '06:30' '07:00' '07:15' '07:00'
 '06:00' '06:00' '07:30' '06:15' '06:30' '06:45' '07:00' '07:00' '07:00'
 '07:30' '07:15' '06:15' '07:00' '06:45' '07:00' '07:00' '07:00' '07:30'
 '07:15' '06:15' '06:00' '06:45' '07:00' '07:00' '07:00' '07:30' '07:15'
 '06:15' '07:00' '06:45' '07:00' '07:00' '07:00' '07:30' '07:15' '06:15'
 '07:00' '06:45' '07:00' '07:00' '07:00' '07:30' '07:15' '06:15' '07:00'
 '06:45' '07:00' '07:00' '07:00' '07:30' '07:15' '06:15' '07:00' '06:45'
 '07:00']

# notice the data above, which is not a float or integer. In order to run mathematical operations we need to change the dtype

In [13]:
#Stated making the dtype to be datetime which allows subtraction. asked the format to be in Hour:Minute formatting. Because there is no date, it will default to to January 1st 1900. 
df_new = pd.to_datetime(A, format= '%H:%M')
df_new

DatetimeIndex(['1900-01-01 23:00:00', '1900-01-01 00:30:00',
               '1900-01-01 22:45:00', '1900-01-01 01:00:00',
               '1900-01-01 23:30:00', '1900-01-01 00:15:00',
               '1900-01-01 22:30:00', '1900-01-01 01:30:00',
               '1900-01-01 23:00:00', '1900-01-01 00:45:00',
               '1900-01-01 01:00:00', '1900-01-01 22:00:00',
               '1900-01-01 23:30:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:45:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:00:00',
               '1900-01-01 22:45:00', '1900-01-01 00:15:00',
               '1900-01-01 23:00:00', '1900-01-01 01:30:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:30:00', '1900-01-01 01:15:00',
               '1900-01-01 22:00:00', '1900-01-01 00:30:00',
               '1900-01-01 23:15:00', '1900-01-01 01:00:00',
               '1900-01-01 22:45:00', '1900-01-01 00:15:00',
               '1900-01-01 23:30:00', '1900-01-01 01:30:00',
               '1900-01-01 22:00:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:00:00',
               '1900-01-01 22:45:00', '1900-01-01 00:15:00',
               '1900-01-01 23:30:00', '1900-01-01 01:30:00',
               '1900-01-01 22:00:00', '1900-01-01 00:30:00',
               '1900-01-01 23:15:00', '1900-01-01 01:00:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00'],
              dtype='datetime64[ns]', freq=None)

In [14]:
# we could also format the bedtime and wakeup time like the next two lines below but the other formatting is better for subtraction
#df['Bedtime'] = pd.to_datetime(df['Bedtime'], dayfirst= True)
#df['Wake-up Time'] = pd.to_datetime(df['Wake-up Time'], dayfirst= True)

#this is changing the dtypes of Bedtime and Wake-up Time to be datetime dtypes
df['Bedtime'] = pd.to_datetime(df['Bedtime'], format= '%H:%M')
df['Wake-up Time'] = pd.to_datetime(df['Wake-up Time'],format= '%H:%M')

#note the changed Dtypes for the Aspects "Bedtime" and "Wake-up Time"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User ID                  100 non-null    int64
 1   Age                      100 non-null    int64
 2   Gender                   100 non-null    object
 3   Sleep Quality            100 non-null    int64
 4   Bedtime                  100 non-null    datetime64[ns]
 5   Wake-up Time             100 non-null    datetime64[ns]
 6   Daily Steps              100 non-null    int64
 7   Calories Burned          100 non-null    int64
 8   Physical Activity Level  100 non-null    object
 9   Dietary Habits           100 non-null    object
 10  Sleep Disorders          100 non-null    object
 11  Medication Usage         100 non-null    object
dtypes: datetime64[ns](2), int64(5), object(5)
memory usage: 9.5+ KB

In [15]:
#printing the new arrays now that the Dtype for "Bedtime" and "Wake-up Time" is datetime
A=pd.array(df["Bedtime"])
B=pd.array(df["Wake-up Time"])
print(A)

print(B)

<DatetimeArray>
['1900-01-01 23:00:00', '1900-01-01 00:30:00', '1900-01-01 22:45:00',
 '1900-01-01 01:00:00', '1900-01-01 23:30:00', '1900-01-01 00:15:00',
 '1900-01-01 22:30:00', '1900-01-01 01:30:00', '1900-01-01 23:00:00',
 '1900-01-01 00:45:00', '1900-01-01 01:00:00', '1900-01-01 22:00:00',
 '1900-01-01 23:30:00', '1900-01-01 01:30:00', '1900-01-01 22:15:00',
 '1900-01-01 00:30:00', '1900-01-01 23:45:00', '1900-01-01 01:15:00',
 '1900-01-01 22:30:00', '1900-01-01 00:45:00', '1900-01-01 23:15:00',
 '1900-01-01 01:00:00', '1900-01-01 22:45:00', '1900-01-01 00:15:00',
 '1900-01-01 23:00:00', '1900-01-01 01:30:00', '1900-01-01 22:30:00',
 '1900-01-01 00:45:00', '1900-01-01 23:30:00', '1900-01-01 01:15:00',
 '1900-01-01 22:00:00', '1900-01-01 00:30:00', '1900-01-01 23:15:00',
 '1900-01-01 01:00:00', '1900-01-01 22:45:00', '1900-01-01 00:15:00',
 '1900-01-01 23:30:00', '1900-01-01 01:30:00', '1900-01-01 22:00:00',
 '1900-01-01 00:45:00', '1900-01-01 23:15:00', '1900-01-01 01:00:00',
 '1900-01-01 22:45:00', '1900-01-01 00:15:00', '1900-01-01 23:30:00',
 '1900-01-01 01:30:00', '1900-01-01 22:00:00', '1900-01-01 00:30:00',
 '1900-01-01 23:15:00', '1900-01-01 01:00:00', '1900-01-01 22:15:00',
 '1900-01-01 00:30:00', '1900-01-01 23:00:00', '1900-01-01 01:15:00',
 '1900-01-01 22:30:00', '1900-01-01 00:45:00', '1900-01-01 23:15:00',
 '1900-01-01 01:30:00', '1900-01-01 22:15:00', '1900-01-01 00:30:00',
 '1900-01-01 23:00:00', '1900-01-01 01:15:00', '1900-01-01 22:30:00',
 '1900-01-01 00:45:00', '1900-01-01 23:15:00', '1900-01-01 01:30:00',
 '1900-01-01 22:15:00', '1900-01-01 00:30:00', '1900-01-01 23:00:00',
 '1900-01-01 01:15:00', '1900-01-01 22:30:00', '1900-01-01 00:45:00',
 '1900-01-01 23:15:00', '1900-01-01 01:30:00', '1900-01-01 22:15:00',
 '1900-01-01 00:30:00', '1900-01-01 23:00:00', '1900-01-01 01:15:00',
 '1900-01-01 22:30:00', '1900-01-01 00:45:00', '1900-01-01 23:15:00',
 '1900-01-01 01:30:00', '1900-01-01 22:15:00', '1900-01-01 00:30:00',
 '1900-01-01 23:00:00', '1900-01-01 01:15:00', '1900-01-01 22:30:00',
 '1900-01-01 00:45:00', '1900-01-01 23:15:00', '1900-01-01 01:30:00',
 '1900-01-01 22:15:00', '1900-01-01 00:30:00', '1900-01-01 23:00:00',
 '1900-01-01 01:15:00', '1900-01-01 22:30:00', '1900-01-01 00:45:00',
 '1900-01-01 23:15:00', '1900-01-01 01:30:00', '1900-01-01 22:15:00',
 '1900-01-01 00:30:00']
Length: 100, dtype: datetime64[ns]
<DatetimeArray>
['1900-01-01 06:30:00', '1900-01-01 07:00:00', '1900-01-01 06:45:00',
 '1900-01-01 06:30:00', '1900-01-01 07:00:00', '1900-01-01 07:15:00',
 '1900-01-01 06:00:00', '1900-01-01 07:00:00', '1900-01-01 07:30:00',
 '1900-01-01 07:15:00', '1900-01-01 07:00:00', '1900-01-01 06:00:00',
 '1900-01-01 07:30:00', '1900-01-01 06:00:00', '1900-01-01 06:45:00',
 '1900-01-01 07:30:00', '1900-01-01 06:15:00', '1900-01-01 07:00:00',
 '1900-01-01 07:00:00', '1900-01-01 07:30:00', '1900-01-01 06:30:00',
 '1900-01-01 06:30:00', '1900-01-01 06:15:00', '1900-01-01 07:00:00',
 '1900-01-01 06:30:00', '1900-01-01 07:00:00', '1900-01-01 06:45:00',
 '1900-01-01 07:15:00', '1900-01-01 07:00:00', '1900-01-01 07:30:00',
 '1900-01-01 06:00:00', '1900-01-01 07:30:00', '1900-01-01 06:15:00',
 '1900-01-01 06:30:00', '1900-01-01 07:00:00', '1900-01-01 07:15:00',
 '1900-01-01 07:00:00', '1900-01-01 06:00:00', '1900-01-01 06:00:00',
 '1900-01-01 07:30:00', '1900-01-01 06:15:00', '1900-01-01 06:30:00',
 '1900-01-01 07:00:00', '1900-01-01 07:15:00', '1900-01-01 07:00:00',
 '1900-01-01 06:00:00', '1900-01-01 06:00:00', '1900-01-01 07:30:00',
 '1900-01-01 06:15:00', '1900-01-01 06:30:00', '1900-01-01 06:45:00',
 '1900-01-01 07:00:00', '1900-01-01 07:00:00', '1900-01-01 07:00:00',
 '1900-01-01 07:30:00', '1900-01-01 07:15:00', '1900-01-01 06:15:00',
 '1900-01-01 07:00:00', '1900-01-01 06:45:00', '1900-01-01 07:00:00',
 '1900-01-01 07:00:00', '1900-01-01 07:00:00', '1900-01-01 07:30:00',
 '1900-01-01 07:15:00', '1900-01-01 06:15:00', '1900-01-01 06:00:00',
 '1900-01-01 06:45:00', '1900-01-01 07:00:00', '1900-01-01 07:00:00',
 '1900-01-01 07:00:00', '1900-01-01 07:30:00', '1900-01-01 07:15:00',
 '1900-01-01 06:15:00', '1900-01-01 07:00:00', '1900-01-01 06:45:00',
 '1900-01-01 07:00:00', '1900-01-01 07:00:00', '1900-01-01 07:00:00',
 '1900-01-01 07:30:00', '1900-01-01 07:15:00', '1900-01-01 06:15:00',
 '1900-01-01 07:00:00', '1900-01-01 06:45:00', '1900-01-01 07:00:00',
 '1900-01-01 07:00:00', '1900-01-01 07:00:00', '1900-01-01 07:30:00',
 '1900-01-01 07:15:00', '1900-01-01 06:15:00', '1900-01-01 07:00:00',
 '1900-01-01 06:45:00', '1900-01-01 07:00:00', '1900-01-01 07:00:00',
 '1900-01-01 07:00:00', '1900-01-01 07:30:00', '1900-01-01 07:15:00',
 '1900-01-01 06:15:00', '1900-01-01 07:00:00', '1900-01-01 06:45:00',
 '1900-01-01 07:00:00']
Length: 100, dtype: datetime64[ns]

In [16]:
#Must subtract the "Wake-Up Time(B)" from the "Bedtime(A)" to get the hours of sleep. 
print("Hours of Sleep:\n", B-A)

Hours of Sleep:
 <TimedeltaArray>
['-1 days +07:30:00',   '0 days 06:30:00', '-1 days +08:00:00',
   '0 days 05:30:00', '-1 days +07:30:00',   '0 days 07:00:00',
 '-1 days +07:30:00',   '0 days 05:30:00', '-1 days +08:30:00',
   '0 days 06:30:00',   '0 days 06:00:00', '-1 days +08:00:00',
 '-1 days +08:00:00',   '0 days 04:30:00', '-1 days +08:30:00',
   '0 days 07:00:00', '-1 days +06:30:00',   '0 days 05:45:00',
 '-1 days +08:30:00',   '0 days 06:45:00', '-1 days +07:15:00',
   '0 days 05:30:00', '-1 days +07:30:00',   '0 days 06:45:00',
 '-1 days +07:30:00',   '0 days 05:30:00', '-1 days +08:15:00',
   '0 days 06:30:00', '-1 days +07:30:00',   '0 days 06:15:00',
 '-1 days +08:00:00',   '0 days 07:00:00', '-1 days +07:00:00',
   '0 days 05:30:00', '-1 days +08:15:00',   '0 days 07:00:00',
 '-1 days +07:30:00',   '0 days 04:30:00', '-1 days +08:00:00',
   '0 days 06:45:00', '-1 days +07:00:00',   '0 days 05:30:00',
 '-1 days +08:15:00',   '0 days 07:00:00', '-1 days +07:30:00',
   '0 days 04:30:00', '-1 days +08:00:00',   '0 days 07:00:00',
 '-1 days +07:00:00',   '0 days 05:30:00', '-1 days +08:30:00',
   '0 days 06:30:00', '-1 days +08:00:00',   '0 days 05:45:00',
 '-1 days +09:00:00',   '0 days 06:30:00', '-1 days +07:00:00',
   '0 days 05:30:00', '-1 days +08:30:00',   '0 days 06:30:00',
 '-1 days +08:00:00',   '0 days 05:45:00', '-1 days +09:00:00',
   '0 days 06:30:00', '-1 days +07:00:00',   '0 days 04:30:00',
 '-1 days +08:30:00',   '0 days 06:30:00', '-1 days +08:00:00',
   '0 days 05:45:00', '-1 days +09:00:00',   '0 days 06:30:00',
 '-1 days +07:00:00',   '0 days 05:30:00', '-1 days +08:30:00',
   '0 days 06:30:00', '-1 days +08:00:00',   '0 days 05:45:00',
 '-1 days +09:00:00',   '0 days 06:30:00', '-1 days +07:00:00',
   '0 days 05:30:00', '-1 days +08:30:00',   '0 days 06:30:00',
 '-1 days +08:00:00',   '0 days 05:45:00', '-1 days +09:00:00',
   '0 days 06:30:00', '-1 days +07:00:00',   '0 days 05:30:00',
 '-1 days +08:30:00',   '0 days 06:30:00', '-1 days +08:00:00',
   '0 days 05:45:00', '-1 days +09:00:00',   '0 days 06:30:00',
 '-1 days +07:00:00',   '0 days 05:30:00', '-1 days +08:30:00',
   '0 days 06:30:00']
Length: 100, dtype: timedelta64[ns]

# Group Project 1 Step 4 Data Cleaning with Pandas
### Najae Batts

### After uploading the dataset, I'm using the code isnull.().sum(). to check for missing null values in the data set in each column. If there were any missinf values there would be a 1 next to the column. There are no missing values in our dataset.

In [17]:
df.isnull().sum()

User ID                    0
Age                        0
Gender                     0
Sleep Quality              0
Bedtime                    0
Wake-up Time               0
Daily Steps                0
Calories Burned            0
Physical Activity Level    0
Dietary Habits             0
Sleep Disorders            0
Medication Usage           0
dtype: int64

In [18]:
data_cleaned = df.drop_duplicates()

### In this code you can see me using drop.duplicates to clean the data. However, after overlooking there were no data values that were dropped because there are no duplicates in our dataset.

In [19]:
data_cleaned

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,1,25,f,8,1900-01-01 23:00:00,1900-01-01 06:30:00,8000,2500,medium,healthy,no,no
1,2,34,m,7,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,low,unhealthy,yes,yes
2,3,29,f,9,1900-01-01 22:45:00,1900-01-01 06:45:00,9000,2700,high,healthy,no,no
3,4,41,m,5,1900-01-01 01:00:00,1900-01-01 06:30:00,4000,2100,low,unhealthy,yes,no
4,5,22,f,8,1900-01-01 23:30:00,1900-01-01 07:00:00,10000,2800,high,medium,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,43,m,7,1900-01-01 00:45:00,1900-01-01 07:15:00,6500,2400,medium,medium,no,no
96,97,33,f,8,1900-01-01 23:15:00,1900-01-01 06:15:00,8500,2600,high,medium,no,no
97,98,46,m,4,1900-01-01 01:30:00,1900-01-01 07:00:00,3000,2000,low,unhealthy,yes,yes
98,99,25,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
99,100,41,m,6,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,medium,unhealthy,no,no

### The reset.index code is used to reset the index of a DataFrame. When droping set to False, the old index will be added as a a colum in the new DataFrame. When the implace is set to False, it will return a new DataFrame with the reset index, leaving the oringinal DataFrame unchanged.

In [20]:
data_cleaned.reset_index(drop=False, inplace=False)

,index,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,0,1,25,f,8,1900-01-01 23:00:00,1900-01-01 06:30:00,8000,2500,medium,healthy,no,no
1,1,2,34,m,7,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,low,unhealthy,yes,yes
2,2,3,29,f,9,1900-01-01 22:45:00,1900-01-01 06:45:00,9000,2700,high,healthy,no,no
3,3,4,41,m,5,1900-01-01 01:00:00,1900-01-01 06:30:00,4000,2100,low,unhealthy,yes,no
4,4,5,22,f,8,1900-01-01 23:30:00,1900-01-01 07:00:00,10000,2800,high,medium,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,96,43,m,7,1900-01-01 00:45:00,1900-01-01 07:15:00,6500,2400,medium,medium,no,no
96,96,97,33,f,8,1900-01-01 23:15:00,1900-01-01 06:15:00,8500,2600,high,medium,no,no
97,97,98,46,m,4,1900-01-01 01:30:00,1900-01-01 07:00:00,3000,2000,low,unhealthy,yes,yes
98,98,99,25,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
99,99,100,41,m,6,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,medium,unhealthy,no,no

### As above, our original dataset didn't have any missing values. So to show how it will look like with missing values we changed the dataset up a little bit for learning purposes.

In [21]:
df2 = pd.read_csv("new.csv")

In [22]:
df2.isnull().sum()

User ID                    0
Age                        0
Gender                     0
Sleep Quality              0
Bedtime                    0
Wake-up Time               0
Daily Steps                0
Calories Burned            1
Physical Activity Level    0
Dietary Habits             0
Sleep Disorders            0
Medication Usage           1
dtype: int64

 ### The code comment above is basically trying to fill the missing values with code filllna(0) with 0 and then the dropna is dropping any rows that contain no value.

In [23]:
# df3 = df2.fillna(0)

df3 = df2.dropna()

In [24]:
df3.isnull().sum()

User ID                    0
Age                        0
Gender                     0
Sleep Quality              0
Bedtime                    0
Wake-up Time               0
Daily Steps                0
Calories Burned            0
Physical Activity Level    0
Dietary Habits             0
Sleep Disorders            0
Medication Usage           0
dtype: int64

### We're checking for duplicates in our new csv data set and as you can see there is a 'True' in the 100 row showing there is a duplicate there. We can also see that there is a duplicate because we have 101 rows.

In [25]:
df2.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
96     False
97     False
98     False
99     False
100     True
Length: 101, dtype: bool

### After seeing that there were duplicates in the data on the 100 column we dropped them and now you can see all the columns showing False meaning no duplicates and also we're back to 100 rows like before. Adding the duplicates and missing values were for learning purposes but in our origal dataset we didn't have any missing or duplicate values.

In [26]:
df4 = df2.drop_duplicates()
df4.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

## Rianna McDuffus Section

### 5. Data Filtering and Selection
1. Filter the dataset based on conditions.
2. Use.loc[] and .iloc[] to selet specific rows and columns

In [27]:
df_filtered = df[df['Age'] < 25 ] 
df_filtered
#filtering based on one condition

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
4,5,22,f,8,1900-01-01 23:30:00,1900-01-01 07:00:00,10000,2800,high,medium,no,no
11,12,23,m,9,1900-01-01 22:00:00,1900-01-01 06:00:00,11000,2900,high,healthy,no,no
30,31,24,f,9,1900-01-01 22:00:00,1900-01-01 06:00:00,10500,2900,high,healthy,no,no
50,51,23,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
66,67,24,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
90,91,23,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no

In [28]:
filtered_df = df[(df['Age'] < 25) & (df['Daily Steps'] < 10000)]
filtered_df
#filtering based on multiple conditions

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
50,51,23,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
66,67,24,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
90,91,23,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no

In [38]:
df.loc[49, 'Sleep Quality'] 
#prints value in row labeled 49, under "sleep quality" column

4

In [39]:
df.iloc[0]

User ID                                      1
Age                                         25
Gender                                       f
Sleep Quality                                8
Bedtime                    1900-01-01 23:00:00
Wake-up Time               1900-01-01 06:30:00
Daily Steps                               8000
Calories Burned                           2500
Physical Activity Level                 medium
Dietary Habits                         healthy
Sleep Disorders                             no
Medication Usage                            no
Name: 0, dtype: object

In [40]:
df.loc[0:4]

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,1,25,f,8,1900-01-01 23:00:00,1900-01-01 06:30:00,8000,2500,medium,healthy,no,no
1,2,34,m,7,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,low,unhealthy,yes,yes
2,3,29,f,9,1900-01-01 22:45:00,1900-01-01 06:45:00,9000,2700,high,healthy,no,no
3,4,41,m,5,1900-01-01 01:00:00,1900-01-01 06:30:00,4000,2100,low,unhealthy,yes,no
4,5,22,f,8,1900-01-01 23:30:00,1900-01-01 07:00:00,10000,2800,high,medium,no,no

### 6. Sorting and Ranking
1. Sort the dataset by specific columns using sort_values
2. Rank columns using rank() to assign relative ranks to data entries within a column.

In [32]:
df_sorted = df.sort_values(by='Age')#sorting by Age
df_sorted

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
4,5,22,f,8,1900-01-01 23:30:00,1900-01-01 07:00:00,10000,2800,high,medium,no,no
50,51,23,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
90,91,23,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
11,12,23,m,9,1900-01-01 22:00:00,1900-01-01 06:00:00,11000,2900,high,healthy,no,no
66,67,24,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...
93,94,50,m,5,1900-01-01 01:15:00,1900-01-01 07:00:00,4000,2100,low,unhealthy,yes,no
73,74,50,m,4,1900-01-01 01:30:00,1900-01-01 07:00:00,3000,2000,low,unhealthy,yes,yes
85,86,50,m,5,1900-01-01 01:15:00,1900-01-01 07:00:00,4000,2100,low,unhealthy,yes,no
59,60,50,m,6,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,medium,unhealthy,no,no
37,38,50,m,5,1900-01-01 01:30:00,1900-01-01 06:00:00,3500,2100,low,unhealthy,yes,yes

In [33]:
df_sorted = df.sort_index()#sorting by index 
df_sorted

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,1,25,f,8,1900-01-01 23:00:00,1900-01-01 06:30:00,8000,2500,medium,healthy,no,no
1,2,34,m,7,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,low,unhealthy,yes,yes
2,3,29,f,9,1900-01-01 22:45:00,1900-01-01 06:45:00,9000,2700,high,healthy,no,no
3,4,41,m,5,1900-01-01 01:00:00,1900-01-01 06:30:00,4000,2100,low,unhealthy,yes,no
4,5,22,f,8,1900-01-01 23:30:00,1900-01-01 07:00:00,10000,2800,high,medium,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,43,m,7,1900-01-01 00:45:00,1900-01-01 07:15:00,6500,2400,medium,medium,no,no
96,97,33,f,8,1900-01-01 23:15:00,1900-01-01 06:15:00,8500,2600,high,medium,no,no
97,98,46,m,4,1900-01-01 01:30:00,1900-01-01 07:00:00,3000,2000,low,unhealthy,yes,yes
98,99,25,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
99,100,41,m,6,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,medium,unhealthy,no,no

In [34]:
df1_sorted = df.sort_index(ascending=False)#sorting index in descending order
df_sorted

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,1,25,f,8,1900-01-01 23:00:00,1900-01-01 06:30:00,8000,2500,medium,healthy,no,no
1,2,34,m,7,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,low,unhealthy,yes,yes
2,3,29,f,9,1900-01-01 22:45:00,1900-01-01 06:45:00,9000,2700,high,healthy,no,no
3,4,41,m,5,1900-01-01 01:00:00,1900-01-01 06:30:00,4000,2100,low,unhealthy,yes,no
4,5,22,f,8,1900-01-01 23:30:00,1900-01-01 07:00:00,10000,2800,high,medium,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,43,m,7,1900-01-01 00:45:00,1900-01-01 07:15:00,6500,2400,medium,medium,no,no
96,97,33,f,8,1900-01-01 23:15:00,1900-01-01 06:15:00,8500,2600,high,medium,no,no
97,98,46,m,4,1900-01-01 01:30:00,1900-01-01 07:00:00,3000,2000,low,unhealthy,yes,yes
98,99,25,f,9,1900-01-01 22:15:00,1900-01-01 06:45:00,9500,2700,high,healthy,no,no
99,100,41,m,6,1900-01-01 00:30:00,1900-01-01 07:00:00,5000,2200,medium,unhealthy,no,no

In [35]:
df_ranked = df['Daily Steps'].rank(ascending = False)
df_ranked
#ranks daily steps in descending order

0     49.0
1     70.0
2     25.0
3     80.0
4      7.0
      ...
95    54.5
96    39.5
97    94.5
98    14.5
99    70.0
Name: Daily Steps, Length: 100, dtype: float64

In [36]:
ranked_desc_df = df.rank(ascending=False)
ranked_desc_df#rank index in descending order

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,100.0,92.5,75.5,38.0,21.0,76.5,49.0,47.0,19.5,86.0,63.5,60.5
1,99.0,53.0,25.5,56.5,91.0,44.0,70.0,70.0,51.5,21.0,13.5,10.5
2,98.0,73.0,75.5,13.0,27.5,67.5,25.0,22.0,82.5,86.0,63.5,60.5
3,97.0,33.5,25.5,82.0,72.5,76.5,80.0,82.0,51.5,21.0,13.5,60.5
4,96.0,100.0,75.5,38.0,4.0,44.0,7.0,6.0,82.5,56.5,63.5,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
95,5.0,28.5,25.5,56.5,80.5,20.0,54.5,54.5,19.5,56.5,63.5,60.5
96,4.0,56.0,75.5,38.0,11.5,86.0,39.5,35.5,82.5,56.5,63.5,60.5
97,3.0,18.0,25.5,94.5,56.0,44.0,94.5,94.5,51.5,21.0,13.5,10.5
98,2.0,92.5,75.5,13.0,42.5,67.5,14.5,22.0,82.5,86.0,63.5,60.5
99,1.0,33.5,25.5,69.0,91.0,44.0,70.0,70.0,19.5,21.0,63.5,60.5

## Sijan Shrestha
1. Grouping and Aggregation
<br>Use groupby() to group data by a categorical column and perform an
aggregate operation like sum(), mean(), count(). Explore various aggregations like min(), max(), mean(), and std().

## Grouping by gender

In [53]:
grouped_data_by_gender = df.groupby('Gender').agg({
    'Sleep Quality': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Daily Steps': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Calories Burned': ['sum', 'mean', 'count', 'min', 'max','std']
})
grouped_data_by_gender

       Sleep Quality                               Daily Steps                \
                 sum  mean count min max       std         sum    mean count
Gender
f                421  8.42    50   5   9  0.702474      447000  8940.0    50
m                279  5.58    50   4   9  1.213697      236000  4720.0    50

                                 Calories Burned                            \
         min    max          std             sum    mean count   min   max
Gender
f       3500  10500  1048.030222          132700  2654.0    50  2100  2900
m       3000  11000  1558.911185          109400  2188.0    50  2000  2900


               std
Gender
f       135.465938
m       174.543135

## Grouping by Age Range

In [54]:
# Create age bins (adjust the bin edges as needed)
bins = [18, 30, 40, 50, 60]  # Define the age ranges
labels = ['19-30', '31-40', '41-50', '51-60']  # Corresponding labels

# Create a new column for age range
df['Age Range'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [55]:
grouped_data_by_age_range = df.groupby('Age Range', observed=False).agg({
    'Sleep Quality': ['sum', 'mean', 'count', 'min', 'max', 'std'],
    'Daily Steps': ['sum', 'mean', 'count', 'min', 'max', 'std'],
    'Calories Burned': ['sum', 'mean', 'count', 'min', 'max', 'std']
})

# Display the grouped data by age range
grouped_data_by_age_range

          Sleep Quality                                   Daily Steps  \
                    sum      mean count min max       std         sum
Age Range
19-30               261  8.700000    30   8   9  0.466092      280000
31-40               243  7.363636    33   5   9  1.084498      242500
41-50               166  5.354839    31   4   9  1.330373      137500
51-60                30  5.000000     6   4   6  0.632456       23000

                                                       Calories Burned  \
                  mean count   min    max          std             sum
Age Range
19-30      9333.333333    30  8000  11000   723.179442           81350
31-40      7348.484848    33  4000  10000  1752.163165           81200
41-50      4435.483871    31  3000   9500  1569.192656           66950
51-60      3833.333333     6  3000   5000   683.130051           12600


                  mean count   min   max         std
Age Range
19-30      2711.666667    30  2500  2900  107.224654
31-40      2460.606061    33  2100  2800  193.147279
41-50      2159.677419    31  2000  2750  178.147577
51-60      2100.000000     6  2000  2200   63.245553

## Grouping by Dietary Habit

In [58]:
grouped_data_by_Dietary_Habit = df.groupby('Dietary Habits').agg({
    'Sleep Quality': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Daily Steps': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Calories Burned': ['sum', 'mean', 'count', 'min', 'max','std']
})
grouped_data_by_Dietary_Habit

               Sleep Quality                                   Daily Steps  \
                         sum      mean count min max       std         sum
Dietary Habits
healthy                  257  8.862069    29   8   9  0.350931      275000
medium                   231  7.700000    30   7   8  0.466092      237000
unhealthy                212  5.170732    41   4   7  0.946109      171000

                                                            Calories Burned  \
                       mean count   min    max          std             sum
Dietary Habits
healthy         9482.758621    29  8000  11000   647.560789           79200
medium          7900.000000    30  5500  10000  1101.722789           75900
unhealthy       4170.731707    41  3000   6000  1034.466989           87000


                       mean count   min   max         std
Dietary Habits
healthy         2731.034483    29  2500  2900   99.475224
medium          2530.000000    30  2400  2800  105.536397
unhealthy       2121.951220    41  2000  2300  101.272393

## Grouping by Sleep Disorders

In [59]:
grouped_data_by_Sleep_Disorders = df.groupby('Sleep Disorders').agg({
    'Sleep Quality': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Daily Steps': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Calories Burned': ['sum', 'mean', 'count', 'min', 'max','std']
})
grouped_data_by_Sleep_Disorders

                Sleep Quality                                   Daily Steps  \
                          sum      mean count min max       std         sum
Sleep Disorders
no                        580  7.837838    74   6   9  1.085736      592000
yes                       120  4.615385    26   4   7  0.697247       91000

                                                        Calories Burned  \
                   mean count   min    max          std             sum
Sleep Disorders
no               8000.0    74  5000  11000  1739.941740          188600
yes              3500.0    26  3000   5000   547.722558           53500


                        mean count   min   max         std
Sleep Disorders
no               2548.648649    74  2200  2900  206.067713
yes              2057.692308    26  2000  2200   57.779421

## Grouping by Medication usage

In [61]:
grouped_data_by_Medication_usage = df.groupby('Medication Usage').agg({
    'Sleep Quality': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Daily Steps': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Calories Burned': ['sum', 'mean', 'count', 'min', 'max','std']
})
grouped_data_by_Medication_usage

                 Sleep Quality                              Daily Steps  \
                           sum mean count min max       std         sum
Medication Usage
no                         600  7.5    80   4   9  1.475539      603000
yes                        100  5.0    20   4   7  1.169795       80000

                                                         Calories Burned  \
                    mean count   min    max          std             sum
Medication Usage
no                7537.5    80  3000  11000  2217.272529          200000
yes               4000.0    20  3000   6000  1246.046379           42100


                    mean count   min   max         std
Medication Usage
no                2500.0    80  2000  2900  252.456288
yes               2105.0    20  2000  2300  123.437604

### Grouping by Physical Activity Level

In [62]:
grouped_data_by_Physical_Activity_Level = df.groupby('Physical Activity Level').agg({
    'Sleep Quality': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Daily Steps': ['sum', 'mean', 'count', 'min', 'max','std'],
    'Calories Burned': ['sum', 'mean', 'count', 'min', 'max','std']
})
grouped_data_by_Physical_Activity_Level

                        Sleep Quality                                    \
                                  sum      mean count min max       std
Physical Activity Level
high                              308  8.555556    36   8   9  0.503953
low                               120  4.615385    26   4   7  0.697247
medium                            272  7.157895    38   6   9  1.053343

                        Daily Steps                                  \
                                sum         mean count   min    max
Physical Activity Level
high                         331000  9194.444444    36  8500  11000
low                           91000  3500.000000    26  3000   5000
medium                       261000  6868.421053    38  5000  10000

                                     Calories Burned                           \
                                 std             sum         mean count   min
Physical Activity Level
high                      679.051626           96700  2686.111111    36  2500
low                       547.722558           53500  2057.692308    26  2000
medium                   1683.321245           91900  2418.421053    38  2200


                          max         std
Physical Activity Level
high                     2900  110.590048
low                      2200   57.779421
medium                   2800  190.809461